<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoops Ice Cream Truck</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
           <script src="/public/assets/js/icecream.js"></script>
       <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Fredoka+One">
</head>

<body>
        {{{ body }}}
</body>

</html>