  
<div class="container-flex">
<img src="../images/icecream.gif" alt="Ice Cream Dancing" width="300" height="300">
<h1>Scoops Ice Cream Truck</h1>
<br>
<br>

<div class="row d-flex icecream-div">
        <div class="col">
            <ul id="icecream-to-devour">
                <h3>You Ordered:</h3>
                {{#each icecream}}
                {{#unless devoured}}
                <li>
                    <p>{{icecream_name}} <button class="devour btn btn-dark btn-sm" data-icecreamid="{{id}}">Devour
                            it!</button></p>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col">
            <ul id="icecream-devoured">
                <h3>You Finished Eating:</h3>
                {{#each icecream}}
                {{#if devoured}}
                <li>
                    <p>{{icecream_name}}</p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="icecream-input">
        <form action="/api/icecream" method="POST">
            <textarea type="text" name="icecream" id="icecream-input" class="col-md-3" placeholder="Order Ice Cream Here"></textarea>
			<p><button type="submit" id="add-icecream" class="btn btn-primary btn-lg">Place Order</button></p>
					<p><h5>Order your ice cream flavor and enjoy!</h6></p>
        </form>
    </div>

</div>
