  
body {
    background-color: rgb(236,121,179);
    font-family: Rock Salt;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h1 {
    font-family: Rock Salt;  
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 0px;
}

h3 {
    font-family: Amatic SC Bold 700; 
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 10px;
}

h4 {
    font-family: Amatic SC Bold 700; 
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 0px;
}

button {
    margin: 10px;
    padding: 5px 10px;
    font-family: Amatic SC Bold 700; 
    color: black;
    background-color: white; 
    border-color: black;
    border-radius: 15px;
}
html {
    margin: 20px;
  }
  html,
  body,
  .container-flex {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  

